# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
flask==1.1.2
folium==0.11.0
geopandas==0.8.1
geopy==2.1.0
html5lib==1.1
imageio==2.9.0
matplotlib==3.3.3
numpy==1.19.2
pipreqs==0.4.10
pyqt==5.9.2
python==3.8.5
qt==5.9.7
qtpy==1.9.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
sphinx==3.2.1
sqlite==3.33.0
statsmodels==0.12.0
streamlit==0.73.1
tokenizers==0.9.4
torch==1.7.1
transformers==4.1.1
wikipedia==1.4.0
